<form action="/home" method="post">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="userName" placeholder="What's your name?" required maxlength="14"><br/>
    <input type="submit" value="Submit" class="btn">
  </div>
</form>
