<form action="/articles" method="post">
  <div class="form-group">
    <label>Subject</label><br>
    <input type="text" class="form-control" name="article[category]" placeholder="Subject" required maxlength="70"><br/>
    <label>Content</label>
    <textarea class="form-control" name="article[content]" placeholder="Content...limit 2000 characters" rows="5" required maxlength="2000"></textarea><br/>
    <input type="submit" value="Submit" class="btn" >
  </div>
</form>
