<form action="/articles" method="post">
  <div class="form-group">
    <textarea class="form-control" name="article[content]" placeholder="Article...limit 500 characters"></textarea><br/>
    <input type="text" class="form-control" name="article[category]" placeholder="Category"><br/>
    <input type="submit" value="Post" >
  </div>
</form>
