<form action="/articles" method="post">
  <div class="form-group">
    <label>Subject</label>
    <input type="text" class="form-control" name="article[category]" placeholder="Subject" required maxlength="23"><br/>
    <label>Article</label>
    <textarea class="form-control" name="article[content]" placeholder="Article...limit 1000 characters" rows="5" required maxlength="1000"></textarea><br/>
    <input type="submit" class="btn" >
  </div>
</form>
