* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

#title {
  font-size: 24px;
  text-align: left;
  margin: 5px;
  font-family: 'Candal', sans-serif;
  font-weight: 400;
  color: #c7222a;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightgrey;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  padding: 20px 24px;
}

.btn {
  background-color: #c7222a;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
}

.btn-small {
  font-size: 12px;
  padding: 5px 10px;
  display: inline;
}

.btn-grey {
  background-color: lightgrey;
  color: white;
  margin-bottom: 20px;
}

.btn-grey:hover {
  color: darkgrey;
}

@media screen and (min-width: 768px) {
  .header,``
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }

  .delete-button {
    margin-right: 200px;
  }

}

h2 {
  margin-bottom: 15px;
}

form {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

label {
  font-size: 16px;
  float: left;
  color: #828282;
}

.articles {
  text-align: left;
  margin-bottom: 50px;
}

.article {
  color: #c7222a;
  text-decoration: none;
}

.article:hover {
  color: yellow;
  text-decoration: none;
}

.author {
  color: #c7222a;
  text-decoration: none;
}

.author:hover {
  color: yellow;
  text-decoration: none;
}
