* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

#title {
  text-decoration: none;
}

#title h3 {
  font-size: 24px;
  text-align: left;
  margin: 5px;
  font-family: 'Candal', sans-serif;
  font-weight: 400;
  color: #23accf;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightgrey;
  background-image: url('images/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #fff;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  padding: 20px 24px;
  opacity: 0.95;
}

.btn {
  background-color: #23accf;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
}

.btn:hover {
  background-color: #2797b0;
  color: white;
}

.btn-small {
  font-size: 12px;
  padding: 5px 10px;
  display: inline;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .header {
    border-bottom: 0;
  }
}

h2 {
  margin-bottom: 15px;
}

form {
  width: 95%;
  margin: 0 auto;
  max-width: 550px;
}

label {
  font-size: 16px;
  float: left;
  color: #828282;
}

.articles {
  text-align: left;
  margin-top: 20px;
  font-size: 16px;
}

.category {
  color: #23accf;
  text-decoration: none;
  font-size: 18px;
}

.category:hover {
  color: #007e9e;
  text-decoration: none;
}

.author {
  color: #23accf;
  text-decoration: none;
}

.author:hover {
  color: #007e9e;
  text-decoration: none;
}

.write {
  color: #23accf;
  text-decoration: none;
  font-size: 20px;
}

.write:hover {
  color: #007e9e;
  text-decoration: none;
}

.date {
  color: #828282;
  font-size: 14px;
}

.icon {
  margin-top: -12px;
  padding-right: 5px;
}

h3 {
  color: #787878;
  margin-bottom:20px;
}

.by {
  color: #787878;
}

.user {
  font-size: 30px;
  margin-bottom: 10px;
}

.inactive {
  opacity: 0.3;
  pointer-events: none;
}
